main {
    display: flex;
}

.background {
    width: 40%;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: white;
}

.background .credit {
    text-align: center;
}

.background .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.background .logo img {
    width: 100px;
}